{% extends "html/base.twig" %}

{% block body %}
<p>Porydex is a combined Pokédex and <a href="https://pokemonshowdown.com/" target="_blank">Pokémon Showdown</a> <a href="http://www.smogon.com/stats/" target="_blank">usage stats</a> viewer, designed to make it easy to browse and analyze metagame trends over time.

<p>It's intended to be a spiritual successor to <a href="https://veekun.com/dex" target="_blank">veekun.com</a>, with all its data ripped straight from the games and fully indexed and searchable. We're not quite there yet, but we're getting close.</p>

<p>All the code for Porydex is available on <a href="https://github.com/jpirnat/dex" target="_blank">GitHub</a>. If you're in the tiny midsection of the [software developer/Pokémon player/stats nerd] Venn diagram, feel free to contribute.</p>

<p>For more on Porydex and my other projects, check out my <a href="https://www.jessepirnat.com/" target="_blank">personal site</a>.</p>
{% endblock %}
