{% spaceless %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			{% if title %}
				Porydex - {{ title|e }}
			{% else %}
				Porydex
			{% endif %}
		</title>
		<link href="/css/normalize.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
	</head>
	<body>
		<header>
			{% block nav %}
				{% if breadcrumbs %}
					<nav class="breadcrumbs">
						<ul>
							{% for breadcrumb in breadcrumbs %}
								{% if loop.first %}
									<li><a href="/">Home</a></li>
								{% endif %}

								{% if not loop.last %}
									<li><a href="{{ breadcrumb.url|e }}">{{ breadcrumb.text|e }}</a></li>
								{% else %}
									<li><span class="current">{{ breadcrumb.text|e }}</span></li>
								{% endif %}
							{% endfor %}
						</ul>
					</nav>
				{% endif %}
			{% endblock %}
		</header>
		<main>
			{% block body %}
			{% endblock %}
		</main>
		<footer>
		</footer>
		{% block scripts %}
		{% endblock %}
	</body>
</html>
{% endspaceless %}
