<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}
			{% endblock %}
		</title>
		<link href="/css/normalize.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
	</head>
	<body>
		<header>
		</header>
		<main>
			{% block body %}
			{% endblock %}
		</main>
		<footer>
		</footer>
	</body>
</html>
