{% extends "html/base.twig" %}

{% block body %}
	<p>
		Welcome to Porydex, the work-in-progress Pokédex that combines game data
		such as from <a href="https://veekun.com/dex">veekun.com</a> with competitive
		usage data from <a href="http://www.smogon.com/stats/">Smogon</a>.
	</p>

	<p>
		To browse the Pokémon Showdown usage data archives,
		<a href="/stats">click here</a>.
	</p>
{% endblock %}
