{% extends "html/base.twig" %}

{% block title %}
	Porydex - Stats
{% endblock %}

{% block body %}
	{% for year in years %}
		<div class="stats-year">
			{{ year.year|e }}
		</div>

		<div class="stats-months">
			{% for month in year.months %}
				<div class="stat-month">
					<a href="/stats/{{ year.year|e }}/{{month.month|e }}">
						{{ month.name|e }}
					</a>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endblock %}
