{% extends "html/base.twig" %}

{% block body %}
	<div class="chart-container">
		<canvas id="chart-canvas"></canvas>
	</div>
{% endblock %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<script>
let data = {
	lines: [
		{
			type: 'moveset-item',
			formatId: 17, // Gen 7 OU
			rating: 1695,
			pokemonId: 801, // Magearna
			itemId: 722 // Assault Vest
		},
		{
			type: 'moveset-move',
			formatId: 17, // Gen 7 OU
			rating: 1695,
			pokemonId: 801, // Magearna
			moveId: 433 // Trick Room
		},
		{
			type: 'moveset-move',
			formatId: 17, // Gen 7 OU
			rating: 1695,
			pokemonId: 801, // Magearna
			moveId: 508 // Shift Gear
		}
	]
};

fetch('/stats/trends/chart', {
	method: 'POST',
	body: JSON.stringify(data),
	headers: new Headers({
		'Content-Type': 'application/json'
	}),
	credentials: 'same-origin' // enables cookies
})
.then(response => response.json())
.then(function(json) {
	moment.locale(json.locale);
	let ctx = document.getElementById('chart-canvas');
	let chart = new Chart(ctx, json.chart);
});
</script>
{% endblock %}
