{% extends "html/base.twig" %}

{% block body %}
	<div class="chart-container">
		<canvas id="chart-canvas"></canvas>
	</div>
{% endblock %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

<script>
let data = {
	lines: [
		{
			type: 'usage',
			formatId: 17, // Gen 7 OU
			rating: 1500,
			pokemonId: 233 // Porygon2
		},
		{
			type: 'lead-usage',
			formatId: 17, // Gen 7 OU
			rating: 1500,
			pokemonId: 233 // Porygon2
		},
		{
			type: 'moveset-ability',
			formatId: 17, // Gen 7 OU
			rating: 1500,
			pokemonId: 233, // Porygon2
			abilityId: 36 // Trace
		},
		{
			type: 'moveset-item',
			formatId: 17, // Gen 7 OU
			rating: 1500,
			pokemonId: 233, // Porygon2
			itemId: 619 // Eviolite
		},
		{
			type: 'moveset-move',
			formatId: 17, // Gen 7 OU
			rating: 1500,
			pokemonId: 233, // Porygon2
			moveId: 433 // Trick Room
		}
	]
};

fetch('/stats/trends/chart', {
	method: 'POST',
	body: JSON.stringify(data),
	headers: new Headers({
		'Content-Type': 'application/json'
	})
})
.then(response => response.json())
.then(function(json) {
	let ctx = document.getElementById('chart-canvas');
	let chart = new Chart(ctx, json);
});
</script>
{% endblock %}
