{% extends "html/base.twig" %}

{% block body %}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{% for ability in abilities %}
				<tr>
					<td>
						<a href="/dex/{{ generation.identifier|e }}/abilities/{{ ability.identifier|e }}">
							{{ ability.name|e }}
						</a>
					</td>
					<td>{{ ability.description|e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
