{% extends "html/base.twig" %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div class="generation-control">
		<ul>
			<li v-for="g in generations">
				<a :href="`/dex/${g.identifier}/abilities`"
					:class="{
						'current': g.identifier === generation.identifier
					}"
				>{{ g.name }}</a>
			</li>
		</ul>
	</div>

	<div class="dex-abilities__filters">
		<label class="dex-abilities__filter">
			Search by ability name: <input type="text" v-model="filterName">
		</label>
		<label class="dex-abilities__filter">
			Search by description: <input type="text" v-model="filterDescription">
		</label>
	</div>

	<table class="dex-table dex-table--full-width">
		<thead>
			<tr>
				<th class="dex-table__ability-name">Name</th>
				<th class="dex-table__ability-description">Description</th>
				<th class="dex-table__ability-pokemon">Pokémon</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="ability in filteredAbilities">
				<td class="dex-table__ability-name">
					<a :href="`/dex/${generation.identifier}/abilities/${ability.identifier}`">
						{{ ability.name }}
					</a>
				</td>
				<td class="dex-table__ability-description">{{ ability.description }}</td>
				<td class="dex-table__ability-pokemon">
					<a v-for="p in ability.pokemon" :href="`/dex/${generation.identifier}/pokemon/${p.identifier}`">
						<img :src="`/images/pokemon/icons/${p.icon}`" :alt="p.name">
					</a>
				</td>
			</tr>
			<tr v-if="loading">
				<td colspan="3" style="text-align: center;">Loading...</td>
			</tr>
		</tbody>
	</table>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script src="/js/dex-breadcrumbs.js"></script>
	<script src="/js/abilities.js"></script>
{% endblock %}
