{% extends "html/base.twig" %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div class="generation-control">
		<ul>
			<li v-for="g in generations">
				<a :href="`/dex/${g.identifier}/abilities`"
					:class="{
						'current': g.identifier === generation.identifier
					}"
				>{{ g.name }}</a>
			</li>
		</ul>
	</div>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="ability in abilities">
				<td>
					<a :href="`/dex/${generation.identifier}/abilities/${ability.identifier}`">
						{{ ability.name }}
					</a>
				</td>
				<td>{{ ability.description }}</td>
			</tr>
		</tbody>
	</table>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script src="/js/dex-breadcrumbs.js"></script>
	<script src="/js/abilities.js"></script>
{% endblock %}
