{% extends "html/base.twig" %}

{% block styles %}
	<link href="/css/vtooltip.css" rel="stylesheet">
	<link href="/css/dex-pagination.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div class="generation-control" v-if="generations.length">
		<ul>
			<li v-for="g in generations">
				<a :href="`/dex/${g.identifier}/abilities/${ability.identifier}`"
					:class="{
						'current': g.identifier === generation.identifier
					}"
				>{{ g.name }}</a>
			</li>
		</ul>
	</div>

	<p>{{ ability.name }}: {{ ability.description }}</p>

	<dex-pokemons-table
		:pokemons="pokemons"
		:generation="generation"
		:show-abilities="true"
		:stats="stats"
	></dex-pokemons-table>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script src="/js/dex-breadcrumbs.js"></script>

	<script src="https://unpkg.com/v-tooltip"></script>
	<script src="/js/dex-pagination.js"></script>
	<script src="/js/dex-pokemons-table.js"></script>

	<script src="/js/dex/ability.js"></script>
{% endblock %}
