{% extends "html/base.twig" %}

{% import "html/dex/tables.twig" as dexTables %}

{% block body %}
	<p>{{ ability.name|e }}: {{ ability.description|e }}</p>

	{{ dexTables.pokemonTable(generationIdentifier, stats, pokemon) }}
{% endblock %}
