{% extends "html/base.twig" %}

{% block styles %}
	<link href="/css/vtooltip.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div v-if="!loaded" class="dex-loader-container">
		<div class="dex-loader"></div>
	</div>

	<template v-if="loaded">
		<table class="dex-table dex-table--full-width breeding-chains-table">
			<template v-for="chain in chains" :key="chain.id">
				<tbody>
					<tr class="breeding-chain__header" @click="toggleChain(chain)">
						<th colspan="7">
							<div class="breeding-chain__summary-container">
								<div class="breeding-chain__arrow">
									<template v-if="chain.show">▼</template>
									<template v-else>▶</template>
								</div>
								<div class="breeding-chain__summary" >
									<template v-for="(pokemon, pokemonIndex) in chain.pokemon" :key="pokemon.identifier">
										<img :src="'/images/pokemon/icons/' + pokemon.icon" :alt="pokemon.name" v-tooltip="pokemon.name">
										<span v-if="pokemonIndex < chain.pokemon.length - 1"> → </span>
									</template>
								</div>
							</div>
						</th>
					</tr>
				</tbody>
				<tbody v-if="chain.show">
					<tr class="breeding-chain__headers">
						<th></th>
						<th scope="col">Pokémon</th>
						<th scope="col">Versions</th>
						<th scope="col">Egg Groups</th>
						<th scope="col">Egg Cycles</th>
						<th scope="col">Gender Ratio</th>
						<th scope="col">Move Method</th>
					</tr>
					<tr v-for="pokemon in chain.pokemon" :key="pokemon.identifier">
						<td class="dex-table--icon">
							<img :src="'/images/pokemon/icons/' + pokemon.icon" alt="">
						</td>
						<th scope="row">
							<a :href="'/dex/' + pokemon.generationIdentifier + '/pokemon/' + pokemon.identifier">
								{{ pokemon.name }}
							</a>
						</th>
						<td class="dex-table--icon">
							<img :src="'/images/versions/' + pokemon.versionGroup.icon"
								:alt="pokemon.versionGroup.name" v-tooltip="pokemon.versionGroup.name"
							>
						</td>
						<td class="dex-table--icon">
							<div v-for="eggGroupName in pokemon.eggGroupNames" :key="eggGroupName">
								{{ eggGroupName }}
							</div>
						</td>
						<td class="dex-table--icon">{{ pokemon.baseEggCycles }}</td>
						<td class="dex-table--icon">
							<img :src="'/images/gender-ratios/' + pokemon.genderRatioIcon">
						</td>
						<td>{{ pokemon.moveMethod }}</td>
					</tr>
				</tbody>
			</template>
		</table>
	</template>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script src="/js/dex-breadcrumbs.js"></script>

	<script src="https://unpkg.com/v-tooltip"></script>

	<script src="/js/dex/breeding-chains.js"></script>
{% endblock %}
