{% extends "html/base.twig" %}

{% block styles %}
	<link href="/css/vtooltip.css" rel="stylesheet">
	<link href="/css/dex-pagination.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div class="version-group-control" v-if="versionGroups.length">
		<ul>
			<li v-for="vg in versionGroups">
				<a :href="'/dex/' + vg.identifier + '/items'"
					:class="{
						'current': vg.identifier === versionGroup.identifier
					}"
				>{{ vg.name }}</a>
			</li>
		</ul>
	</div>

	<div v-if="!loaded" class="dex-loader-container">
		<div class="dex-loader"></div>
	</div>

	<template v-if="loaded">
		<h1 class="dex-page__title">Items</h1>

		<dex-pagination
			v-model="currentPage"
			:number-of-items="filteredItems.length"
			:items-per-page="itemsPerPage"
		></dex-pagination>

		<div class="dex-items__filters">
			<label class="dex-items__filter">
				Filter by item name: <input type="search" v-model="filterName">
			</label>
			<label class="dex-items__filter" v-if="showItemDescriptions">
				Filter by description: <input type="search" v-model="filterDescription">
			</label>
		</div>

		<table class="dex-table dex-table--full-width">
			<thead>
				<tr>
					<th scope="col" v-if="showItemIcons"></th>
					<th scope="col" class="dex-table__item-name">Name</th>
					<th scope="col" v-if="showItemDescriptions">Description</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in paginatedItems">
					<td class="dex-table__item-icon" v-if="showItemIcons">
						<img v-if="item.icon" class="dex-item-icon" :src="'/images/items/' + item.icon" alt="">
					</td>
					<th scope="row" class="dex-table__item-name">
						<a :href="'/dex/' + versionGroup.identifier + '/items/' + item.identifier">
							{{ item.name }}
						</a>
					</th>
					<td class="dex-table__item-description" v-if="showItemDescriptions">{{ item.description }}</td>
				</tr>
			</tbody>
		</table>

		<dex-pagination
			v-model="currentPage"
			:number-of-items="filteredItems.length"
			:items-per-page="itemsPerPage"
		></dex-pagination>
	</template>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7"></script>
	<script src="/js/dex-breadcrumbs.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/v-tooltip@2.1"></script>
	<script src="/js/dex-pagination.js"></script>

	<script src="/js/dex/items.js"></script>
{% endblock %}
