{% extends "html/base.twig" %}

{% block styles %}
	<link href="/css/vtooltip.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div class="version-group-control" v-if="versionGroups.length">
		<ul>
			<li v-for="vg in versionGroups">
				<a :href="'/dex/' + vg.identifier + '/items/' + item.identifier"
					:class="{
						'current': vg.identifier === versionGroup.identifier
					}"
				>{{ vg.name }}</a>
			</li>
		</ul>
	</div>

	<div v-if="!loaded" class="dex-loader-container">
		<div class="dex-loader"></div>
	</div>

	<template v-if="loaded">
		<h1 class="dex-page__title">{{ item.name }}</h1>

		<div class="dex-item__icon" v-if="item.icon">
			<img :src="'/images/items/' + item.icon">
		</div>

		<p class="dex-item__description">{{ item.description }}</p>

		<template v-if="evolutions.length">
			<h2 class="dex-section__title">Evolutions</h2>
			<div>This item can cause the following Pokémon to evolve:</div>
			<div>
				<a v-for="p in evolutions" :href="'/dex/' + versionGroup.identifier + '/pokemon/' + p.identifier">
					<img class="dex-pokemon-icon" :src="'/images/pokemon/icons/' + p.icon" :alt="p.name" v-tooltip="p.name">
				</a>
			</div>
		</template>
	</template>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7"></script>
	<script src="/js/dex-breadcrumbs.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/v-tooltip@2.1"></script>

	<script src="/js/dex/item.js"></script>
{% endblock %}
