{% extends "html/base.twig" %}

{% block body %}
	<table>
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">+10%</th>
				<th scope="col">-10%</th>
				<th scope="col">VC Exp Remainder</th>
			</tr>
		</thead>
		<tbody>
			{% for nature in natures %}
				<tr>
					<td>{{ nature.name|e }}</td>
					<td>{{ nature.increasedStatName|e }}</td>
					<td>{{ nature.decreasedStatName|e }}</td>
					<td>{{ nature.vcExpRemainder|e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
