{% extends "html/base.twig" %}

{% block body %}
	<table class="dex-table">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Raises</th>
				<th scope="col">Lowers</th>
				<th scope="col">VC Exp Remainder</th>
			</tr>
		</thead>
		<tbody>
			{% for nature in natures %}
				<tr>
					<td>{{ nature.name|e }}</td>
					{% if nature.increasedStatName %}
						<td class="dex-nature--increased">
							{{ nature.increasedStatName| e}}
						</td>
					{% else %}
						<td class="dex-nature--neutral">-</td>
					{% endif %}
					{% if nature.decreasedStatName %}
						<td class="dex-nature--decreased">
							{{ nature.decreasedStatName|e }}
						</td>
					{% else %}
						<td class="dex-nature--neutral">-</td>
					{% endif %}
					<td class="dex-table--number">{{ nature.vcExpRemainder|e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
