{% extends "html/base.twig" %}

{% block styles %}
	<link href="/css/vtooltip.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div class="version-group-control" v-if="versionGroups.length">
		<ul>
			<li v-for="vg in versionGroups">
				<a :href="'/dex/' + vg.identifier + '/types'"
					:class="{
						'current': vg.identifier === versionGroup.identifier
					}"
				>{{ vg.name }}</a>
			</li>
		</ul>
	</div>

	<div v-if="!loaded" class="dex-loader-container">
		<div class="dex-loader"></div>
	</div>

	<template v-if="loaded">
		<h1 class="dex-page__title">Types</h1>

		<table class="type-chart">
			<thead>
				<tr>
					<td colspan="2"></td>
					<th :colspan="types.length + 2" class="type-chart__axis-label">
						Defending Type
					</th>
				</tr>
				<tr>
					<td colspan="2"></td>
					<th v-for="defendingType in defendingTypes" scope="col">
						<a :href="'/dex/' + versionGroup.identifier + '/types/' + defendingType.identifier">
							<img class="type-chart__icon" :src="'/images/types/symbols/' + defendingType.symbolIcon"
								:alt="defendingType.name" v-tooltip="defendingType.name"
							>
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(attackingType, attackingIndex) in attackingTypes">
					<th v-if="attackingIndex === 0" :rowspan="types.length" class="type-chart__axis-label">
						<span class="type-chart__axis-label--attacking">Attacking Type</span>
					</th>
					<th scope="row">
						<a :href="'/dex/' + versionGroup.identifier + '/types/' + attackingType.identifier">
							<img class="type-chart__icon" :src="'/images/types/symbols/' + attackingType.symbolIcon"
								:alt="attackingType.name" v-tooltip="attackingType.name"
							>
						</a>
					</th>
					<td v-for="defendingType in defendingTypes" class="type-chart__matchup"
						:class="{
							'type-chart__matchup--highlight': hoverAttackingType === attackingType.identifier || hoverDefendingType === defendingType.identifier,
							'type-chart__matchup--neutral': multipliers[attackingType.identifier][defendingType.identifier] === 1,
							'type-chart__matchup--super-effective': multipliers[attackingType.identifier][defendingType.identifier] === 2,
							'type-chart__matchup--not-very-effective': multipliers[attackingType.identifier][defendingType.identifier] === 0.5,
							'type-chart__matchup--no-effect': multipliers[attackingType.identifier][defendingType.identifier] === 0,
						}"
						@mouseover="onMatchupHover(attackingType, defendingType)"
						@mouseleave="onMatchupUnhover"
					>
						<template v-if="multipliers[attackingType.identifier][defendingType.identifier] === 1">1</template>
						<template v-else-if="multipliers[attackingType.identifier][defendingType.identifier] === 2">×2</template>
						<template v-else-if="multipliers[attackingType.identifier][defendingType.identifier] === .5">½</template>
						<template v-else-if="multipliers[attackingType.identifier][defendingType.identifier] === 0">×0</template>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="type-toggler">
			<div class="type-toggler__header">Toggle Attacking Types</div>
			<div class="type-toggler__types">
				<label v-for="type in types" class="type-toggler__type">
					<img class="dex-type-icon" :src="'/images/types/' + type.nameIcon" :alt="type.name">
					<input type="checkbox" v-model="toggleAttackingTypes" :value="type.identifier">
				</label>
			</div>
			<div>
				<button type="button" class="type-toggler__select-all"
					@click="toggleAttackingTypes = types.map(t => t.identifier)"
				>Select All</button>
				<button type="button" @click="toggleAttackingTypes = []">Unselect All</button>
			</div>
		</div>

		<div class="type-toggler">
			<div class="type-toggler__header">Toggle Defending Types</div>
			<div class="type-toggler__types">
				<label v-for="type in types" class="type-toggler__type">
					<img class="dex-type-icon" :src="'/images/types/' + type.nameIcon" :alt="type.name">
					<input type="checkbox" v-model="toggleDefendingTypes" :value="type.identifier">
				</label>
			</div>
			<div>
				<button type="button" class="type-toggler__select-all"
					@click="toggleDefendingTypes = types.map(t => t.identifier)"
				>Select All</button>
				<button type="button" @click="toggleDefendingTypes = []">Unselect All</button>
			</div>
		</div>
	</template>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7"></script>
	<script src="https://cdn.jsdelivr.net/npm/v-tooltip@2.1"></script>

	<script src="/js/dex-breadcrumbs.js"></script>
	<script src="/js/dex/types.js"></script>
{% endblock %}
