{% extends "html/base.twig" %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div class="generation-control">
		<ul>
			<li v-for="g in generations">
				<a :href="`/dex/${g.identifier}/types`"
					:class="{
						'current': g.identifier === generation.identifier
					}"
				>{{ g.name }}</a>
			</li>
		</ul>
	</div>

	<table class="type-chart">
		<thead>
			<tr>
				<td colspan="2"></td>
				<th :colspan="types.length + 2">Defending Type</th>
			</tr>
			<tr>
				<td colspan="2"></td>
				<th v-for="defendingType in types" scope="col">
					<a :href="`/dex/${generation.identifier}/types/${defendingType.identifier}`">
						<img :src="`/images/types/${defendingType.icon}`" :alt="`${defendingType.name}`">
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(attackingType, attackingIndex) in types">
				<th v-if="attackingIndex === 0" :rowspan="types.length">
					<span class="type-chart__attacking-label">Attacking Type</span>
				</th>
				<th scope="row">
					<a :href="`/dex/${generation.identifier}/types/${attackingType.identifier}`">
						<img :src="`/images/types/${attackingType.icon}`" :alt="`${attackingType.name}`">
					</a>
				</th>
				<td v-for="defendingType in types" class="type-chart__matchup"
					:class="{
						'type-chart__matchup--highlight': hoverAttackingId === attackingType.id || hoverDefendingId === defendingType.id,
						'type-chart__matchup--neutral': multipliers[attackingType.id][defendingType.id] === 1,
						'type-chart__matchup--super-effective': multipliers[attackingType.id][defendingType.id] === 2,
						'type-chart__matchup--not-very-effective': multipliers[attackingType.id][defendingType.id] === 0.5,
						'type-chart__matchup--no-effect': multipliers[attackingType.id][defendingType.id] === 0,
					}"
					@mouseover="onMatchupHover(attackingType, defendingType)"
					@mouseleave="onMatchupUnhover"
				></td>
			</tr>
		</tbody>
	</table>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script src="/js/dex-breadcrumbs.js"></script>
	<script src="/js/types.js"></script>
{% endblock %}
