/* General styles */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	max-width: 960px;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	display: inline-table;
	vertical-align: top;
}

table .number {
	text-align: right;
}

table .percent-plus {
	color: green;
}

table .percent-minus {
	color: red;
}



/* Nav breadcrumbs */

.breadcrumbs {
	background: #eee;
	border: 1px solid #ddd;
}

.breadcrumbs ul {
	margin: 0;
	padding: 0;
}

.breadcrumbs li {
	display: inline;
}

.breadcrumbs li+li::before {
	content: "\00BB"; /* &raquo; */
	margin: 0 5px;
}

.breadcrumbs a {
	display: inline-block;
	padding: 5px;
	color: black;
	text-decoration: none;
}

.breadcrumbs a:hover {
	background: black;
	color: white;
}

.breadcrumbs .current {
	padding: 5px;
}



/* Buttons */

.button a {
	display: inline-block;
	padding: 10px;
	color: black;
	text-decoration: none;
	background: #ddd;
	border: 1px solid black;
	border-radius: 10px;
}

.button a:hover {
	background: black;
	color: white;
}



/* /stats */

.stats-year {
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

.stats-months {
	margin: 5px 0 10px 0;
	text-align: center;
}

.stat-month {
	display: inline-block;
	margin: 3px;
}

.stat-month a {
	text-decoration: none;
	border: 1px solid black;
	width: 100px;
	height: 100px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.stat-month a:hover {
	background-color: #eee;
}



/* Month control */

.month-control {
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
}

.month-control .space {
	flex: 1;
}

.month-control .prev {
	order: -1;
}

.month-control .next {
	order: 1;
}



/* Pokémon usage tables */

table.pokemon-usage th,
table.pokemon-usage td {
	border: 1px solid black;
	padding: 5px;
}

table.pokemon-usage .pokemon-name {
	width: 100%;
}



/* Pokémon stats page */
.pokemon-data {
	display: inline-block;
	text-align: center;
}

.base-stat-name {
	text-align: right;
}

.base-stats td {
	padding: 3px;
}

.base-stat-bar {
	display: inline-block;
	background: blue;
	height: 15px;
}



/* Moveset usage tables */

table.moveset-usage {
	width: 100%;
	margin: 10px 0;
}

table.moveset-usage caption {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 5px;
	background: #ddd;
	font-weight: bold;
}

table.moveset-usage th,
table.moveset-usage td {
	border: 1px solid black;
	padding: 5px;
}



/* Desktop */
@media (min-width: 600px) {
	#quick-links {
		display: none;
	}

	table.moveset-usage {
		width: auto;
		margin: 10px;
	}
}
