/* General styles */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	max-width: 960px;
	margin: 0 auto;
}



/* /stats */

.stats-year {
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

.stats-months {
	margin: 5px 0 10px 0;
	text-align: center;
}

.stat-month {
	display: inline-block;
	margin: 3px;
}

.stat-month a {
	text-decoration: none;
	border: 1px solid black;
	width: 100px;
	height: 100px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.stat-month a:hover {
	background-color: #eee;
}



.month-control {
	margin: 10px 0;
}
.month-control::after {
	content: "";
	display: table;
	clear: both;
}

.month-control .button {
	display: inline-block;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #ddd;
}

.month-control .button:hover {
	background-color: white;
}

.month-control .prev {
	float: left;
}

.month-control .next {
	float: right;
}

.month-control a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: black;
}



table.pokemon-list th.pokemon-name {
	width: 100%;
}


.percent-plus {
	color: green;
}

.percent-minus {
	color: red;
}
