/* General styles */

:root {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	max-width: 960px;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;

	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1
}

footer {
	padding: 10px;
	text-align: center;
}

[v-cloak] {
	display: none;
}

table {
	border-collapse: collapse;
	display: inline-table;
	vertical-align: top;
}

.dex-table__pokemon-icon {
	text-align: center;
}

.dex-table--number {
	text-align: right;
}

.dex-table--percent-plus {
	color: green;
}

.dex-table--percent-minus {
	color: red;
}

.hidden {
	display: none;
}



/* Nav menu */

.menu {
	background: #eee;
	border: 1px solid #ddd;
}

.menu ul {
	margin: 0;
	padding: 0;
}

.menu li {
	display: inline-block;
}

.menu a {
	display: inline-block;
	padding: 10px;
	color: black;
	text-decoration: none;
}

.menu a:hover {
	background: black;
	color: white;
}



.change-language {
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Nav breadcrumbs */

.breadcrumbs {
	background: #eee;
	border: 1px solid #ddd;
}

.breadcrumbs ol {
	margin: 0;
	padding: 0;
}

.breadcrumbs li {
	display: inline-block;
}

.breadcrumbs li+li::before {
	content: "»";
	margin: 0 5px;
}

.breadcrumbs__item {
	display: inline-block;
	padding: 10px;
	color: black;
	text-decoration: none
}

a.breadcrumbs__item:hover {
	background: black;
	color: white;
}




/* Buttons */

.buttons-control {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}

.button {
	display: inline-block;
	padding: 10px;
	background: #ddd;
	color: black;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
}

a.button {
	text-decoration: none;
}

.button:hover,
.button:focus {
	background: black;
	color: white;
}



/* Generation control */

.generation-control {
	text-align: center;
	margin: 10px 0;
}

.generation-control ul::before {
	content: "Generation:";
	margin: 0 5px;
}

.generation-control ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.generation-control li {
	display: inline;
}

.generation-control li+li::before {
	content: "/";
	margin: 0 5px;
}

.generation-control a {
	display: inline-block;
	padding: 5px;
	color: black;
	text-decoration: none;
}

.generation-control li:last-child a {
	border-radius: 0 5px 5px 0;
}

.generation-control a:hover,
.generation-control .current {
	background: black;
	color: white;
}



/* dex */

.dex-table--full-width {
	width: 100%;
}

.dex-table th,
.dex-table td {
	border-bottom: 1px solid black;
	padding: 5px;
}

.dex-table a {
	text-decoration: none;
}

.dex-table a,
.dex-table a:visited {
	color: blue;
}

.dex-table a:hover {
	color: red;
}

.dex-table__pokemon-types,
.dex-table__move-type {
	text-align: center;
}

.dex-table__pokemon-abilities {
	display: flex;
	flex-direction: column;
	font-size: .8rem;
	white-space: nowrap;
	text-align: center;
}

.dex-table__pokemon-ability:not(:last-child) {
	margin-bottom: 5px;
}

.dex-table__pokemon-ability--hidden {
	font-style: italic;
}


.dex-table__move-category {
	text-align: center;
}

.dex-table__move-description {
	width: 50%;
}



/* dex abilities */

.dex-abilities-filter {
	margin: 10px 0;
}
.dex-table__ability-name {
	width: 10%;
}
.dex-table__ability-description {
	width: 40%;
}
.dex-table__ability-pokemon {
	width: 50%;
}



/* dex natures */

.dex-nature--increased {
	color: red;
}
.dex-nature--decreased {
	color: blue;
}
.dex-nature--neutral {
	text-align: center;
}



/* dex types */

.type-chart__axis-label {
	padding: 5px;
}
.type-chart__axis-label--attacking {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}
.type-chart__matchup {
	text-align: center;
	border: 1px solid white;
}
.type-chart__matchup--highlight {
	background: yellow;
}
.type-chart__matchup--neutral {
	color: darkgray;
}
.type-chart__matchup--neutral::before {
	content: "1";
}

.type-chart__matchup--super-effective {
	background: green;
	color: white;
}
.type-chart__matchup--super-effective::before {
	content: "×2";
}

.type-chart__matchup--not-very-effective {
	background: red;
	color: white;
}
.type-chart__matchup--not-very-effective::before {
	content: "½";
}

.type-chart__matchup--no-effect {
	background: black;
	color: white;
}
.type-chart__matchup--no-effect::before {
	content: "×0";
}

.type-toggler {
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.type-toggler__header {
	padding: 5px;
	font-weight: bold;
}
.type-toggler__types {
	display: flex;q
}
.type-toggler__type {
	margin: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.type-toggler__select-all {
	margin: 5px;
}



/* breeding chains */

#breeding-chains {
	width: 100%;
}

#breeding-chains tr {
	border-right: 2px solid black;
	border-left: 2px solid black;
}

#breeding-chains .chain-header {
	border: 2px solid black;
	cursor: pointer;
}

#breeding-chains .chain-header img {
	vertical-align: bottom;
}

#breeding-chains th,
#breeding-chains td {
	height: 40px;
}

#breeding-chains td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#breeding-chains .versions,
#breeding-chains .egg-groups,
#breeding-chains .egg-cycles,
#breeding-chains .gender-ratio {
	text-align: center;
}



/* /stats */

.stats-year {
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

.stats-months {
	margin: 5px 0 10px 0;
	text-align: center;
}

.stat-month {
	display: inline-block;
	margin: 3px;
}

.stat-month a {
	text-decoration: none;
	border: 1px solid black;
	width: 100px;
	height: 100px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.stat-month a:hover {
	background-color: #eee;
}



/* Month control */

.month-control {
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
}

.month-control .space {
	flex: 1;
}

.month-control .prev {
	order: -1;
}

.month-control .next {
	order: 1;
}



/* Rating control */

.rating-control {
	text-align: center;
	margin: 10px 0;
}

.rating-control ul::before {
	content: "Rating:";
	margin: 0 5px;
}

.rating-control ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.rating-control li {
	display: inline;
}

.rating-control li+li::before {
	content: "/";
	margin: 0 5px;
}

.rating-control a {
	display: inline-block;
	padding: 5px;
	color: black;
	text-decoration: none;
}

.rating-control li:last-child a {
	border-radius: 0 5px 5px 0;
}

.rating-control a:hover,
.rating-control .current {
	background: black;
	color: white;
}



/* Pokémon usage tables */

table.pokemon-usage th,
table.pokemon-usage td {
	border: 1px solid black;
	padding: 5px;
}

table.pokemon-usage .pokemon-name {
	width: 100%;
}

.trend-link {
	color: inherit;
	text-decoration: inherit;
}


/* Pokémon stats page */
.pokemon-data {
	display: inline-block;
	text-align: center;
}

.base-stat-name {
	text-align: right;
}

.base-stats td {
	padding: 3px;
}

.base-stat-bar {
	display: inline-block;
	background: blue;
	height: 15px;
}



/* Moveset usage tables */

table.moveset-usage {
	width: 100%;
	margin: 10px 0;
}

table.moveset-usage caption {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 5px;
	background: #ddd;
	font-weight: bold;
}

table.moveset-usage th,
table.moveset-usage td {
	border: 1px solid black;
	padding: 5px;
}



.dex-spreads__stat-names {
	font-weight: normal;
	color: #777;
}

.dex-spread--ev {
	display: inline-block;
	width: 36px;
	text-align: right;
}

.dex-spread--stat {
	display: inline-block;
	width: 32px;
	text-align: right;
}

.dex-spread--slash {
	display: inline-block;
	margin: 0 5px;
	text-align: center;
	color: #bbb;
}



/* Desktop */
@media (min-width: 600px) {
	#quick-links {
		display: none;
	}

	table.moveset-usage {
		width: auto;
		margin: 10px;
	}
}
