@charset "utf-8";

/* General styles */

:root {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	max-width: 960px;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;

	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1
}

footer {
	padding: 10px;
	text-align: center;
}

[v-cloak] {
	display: none;
}

table {
	border-collapse: collapse;
	display: inline-table;
	vertical-align: top;
}

.hidden {
	display: none;
}



/* Nav menu */

.menu {
	background: #eee;
	border: 1px solid #ddd;
	display: flex;
}

.menu__space {
	flex: 1;
}

.menu a {
	padding: 10px;
	color: black;
	text-decoration: none;
}

.menu a:hover {
	background: black;
	color: white;
}

.change-language {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Loading spinner from https://vineethtrv.github.io/loader */
.dex-loader-container {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}
.dex-loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	border-top: 4px solid #ff3d00;
	border-right: 4px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}
.dex-loader::after {
	content: "";  
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border-bottom: 4px solid #ccc;
	border-left: 4px solid transparent;
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


/* Nav breadcrumbs */

.breadcrumbs {
	background: #eee;
	border: 1px solid #ddd;
	display: flex;
}

.breadcrumbs__item {
	padding: 10px;
	color: black;
	text-decoration: none;
}

.breadcrumbs__separator {
	padding: 10px 5px;
}

a.breadcrumbs__item:hover {
	background: black;
	color: white;
}




/* Buttons */

.buttons-control {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}
.buttons-control .space {
	flex: 1;
}

.button {
	display: inline-block;
	padding: 10px;
	background: #ddd;
	color: black;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
}

a.button {
	text-decoration: none;
}

.button:hover,
.button:focus {
	background: black;
	color: white;
}



/* Version group control */

.version-group-control {
	text-align: center;
	margin: 10px 0;
}

.version-group-control ul::before {
	content: "Game:";
	margin: 0 5px;
}

.version-group-control ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.version-group-control li {
	display: inline;
}

.version-group-control li+li::before {
	content: "/";
	margin: 0 5px;
}

.version-group-control a {
	display: inline-block;
	padding: 5px;
	color: black;
	text-decoration: none;
}

.version-group-control li:last-child a {
	border-radius: 0 5px 5px 0;
}

.version-group-control a:hover,
.version-group-control .current {
	background: black;
	color: white;
}



/* dex */
.dex-index__links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}
.dex-index__link {
	border: 1px solid black;
	height: 150px;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
.dex-index__link:hover {
	background-color: #eee;
}

.dex-page__title {
	text-align: center;
}
.dex-page__title--z-move-image {
	display: block;
	margin: 0 auto;
}

.dex-section__title {
	background: #eee;
	border: 1px solid #ddd;
	margin: 10px 0;
	padding: 10px;
	font-size: 1.2rem;
	font-weight: bold;
}

.dex-section__description {
	margin: 20px 0;
}

.dex-link {
	text-decoration: none;
}
.dex-link,
.dex-link:visited {
	color: blue;
}
.dex-link:hover {
	color: red;
}

.dex-item-icon {
	max-width: 64px;
}
.dex-item-icon--small {
	max-width: 32px;
}
.dex-pokemon-icon {
	max-width: 64px;
}
.dex-type-icon {
	max-width: 100px;
}

.dex-table--full-width {
	width: 100%;
}

.dex-table th,
.dex-table td {
	border-bottom: 1px solid black;
	padding: 5px;
}

.dex-table tbody th {
	font-weight: inherit; /* so my <th scope="row"> elements won't be automatically bold */
}

.dex-table a {
	text-decoration: none;
}

.dex-table a,
.dex-table a:visited {
	color: blue;
}

.dex-table a:hover {
	color: red;
}

.dex-table__pokemon-icon {
	text-align: center;
}

.dex-table__pokemon-name {
	text-align: left;
}

.dex-table--number {
	text-align: right;
}
.dex-table--icon {
	text-align: center;
}

.dex-table__pokemon-types,
.dex-table__move-type {
	text-align: center;
}

.dex-table__pokemon-abilities {
	display: flex;
	flex-direction: column;
	font-size: .8rem;
	white-space: nowrap;
	text-align: center;
}

.dex-table__pokemon-ability:not(:last-child) {
	margin-bottom: 5px;
}

.dex-table__pokemon-ability--hidden {
	font-style: italic;
}


.dex-table__move-category {
	text-align: center;
}

.dex-table__move-description {
	width: 50%;
}

.dex-table__header--sortable:hover {
	cursor: pointer;
	background: #eee;
}
.dex-table__header--sorted-asc::after {
	margin-left: 8px;
	content: "▲";
}
.dex-table__header--sorted-desc::after {
	margin-left: 8px;
	content: "▼";
}

.dex--tooltip {
	text-decoration: underline dotted;
}

/* dex abilities */

.dex-abilities__filter {
	display: inline-block;
	margin: 0 10px 10px 0;
}
.dex-table__ability-name {
	width: 10%;
	text-align: left;
}
.dex-table__ability-description {
	width: 40%;
}
.dex-table__ability-pokemon {
	width: 50%;
}


/* dex ability */

.dex-ability__description {
	font-style: italic;
}



/* dex items */

.dex-items__filter {
	display: inline-block;
	margin: 0 10px 10px 0;
}
.dex-table__item-name {
	width: 15%;
	text-align: left;
}



/* dex item */

.dex-item__icon {
	text-align: center;
}

.dex-item__description {
	font-style: italic;
}



/* dex moves */

.dex-moves__filter {
	display: inline-block;
	margin: 0 10px 10px 0;
}



/* dex move */

.dex-move__description {
	font-style: italic;
}

.dex-move__general {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.dex-move__general-main {
	margin: 0 20px 20px 0;
	display: grid;
	grid-template-columns: max-content max-content;
}
.dex-move__general-main dt {
	grid-column-start: 1;
	padding: 5px;
	text-align: right;
}
.dex-move__general-main dd {
	grid-column-start: 2;
	margin: 0;
	padding: 5px;
}

.dex-move__other-details {
	margin: 0 20px 20px 0;
}
.dex-move__other-details ul {
	margin: 0;
}

@media (min-width: 600px) {
	.dex-ability__flags,
	.dex-move__flags {
		column-count: 2;
	}

	.dex-ability__flag,
	.dex-move__flag {
		break-inside: avoid;
	}
}

.dex-ability__flag--disabled,
.dex-move__flag--disabled {
	text-decoration: line-through;
	color: #bbb;
}
.dex-ability__flag-description,
.dex-move__flag-description {
	font-size: .8rem;
	font-style: italic;
}

.dex-move__methods-nav {
	margin: 10px 0;
}
.dex-move__method-links {
	margin: 5px 0;
}

.dex-table__sticky-header-1 th {
	position: sticky;
	top: 0;
	background: white;
	box-shadow: 0 1px black;
	height: 30px
}
.dex-table__sticky-header-2 th {
	position: sticky;
	top: 30px;
	background: white;
	box-shadow: 0 1px black;
}

.dex-move__pokemon-icon {
	border-left: 1px solid black;
}

.dex-table tbody .dex-table__pokemon-move-vg {
	padding: 5px 10px;
	font-weight: bold;
}
.dex-table tbody .dex-table__pokemon-move-data {
	padding: 5px 10px;
}
.dex-table__pokemon-move-data:nth-child(even) {
	background: #d1eef8; /* Porygon palette #8bd5ee at opacity 40% on white background. */
	/* https://marcodiiga.github.io/rgba-to-rgb-conversion */
}



/* dex natures */
.dex-nature__name {
	text-align: left;
}
.dex-nature--increased {
	color: red;
}
.dex-nature--decreased {
	color: blue;
}
.dex-nature--neutral {
	text-align: center;
}



/* dex Pokémons */

.dex-pokemons__filter {
	display: inline-block;
	margin: 0 10px 10px 0;
}



/* dex Pokémon */

.dex-pokemon__abilities {
	list-style: none;
	margin: 0;
	padding: 0;
}

.dex-pokemon__ability {
	margin: 10px 0;
}

.dex-pokemon__ability--hidden {
	font-style: italic;
}

.dex-pokemon__matchup-abilities {
	display: flex;
	justify-content: center;
}

.dex-pokemon__matchup-ability {
	display: flex;
	align-items: center;
}
.dex-pokemon__matchup-ability:not(:last-child) {
	margin-right: 20px;
}

.dex-pokemon__matchup-ability input {
	margin: 0 0 1px 0;
}
.dex-pokemon__matchup-ability span {
	padding: 3px;
}

.dex-evolutions-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.dex-evolutions-table th,
.dex-evolutions-table td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
	min-width: 200px;
	max-width: 400px;
}

.dex-evolutions-table-cell {
	display: flex;
	align-items: center;
}

.dex-evolutions-table-arrow {
	font-size: 2rem;
}


.dex-pokemon__move-name {
	border-left: 1px solid black;
}



/* dex types */

.type-chart__axis-label {
	padding: 5px;
}
.type-chart__axis-label--attacking {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}
.type-chart__icon {
	max-height: 32px;
	max-width: 32px;
}
.type-chart__matchup {
	text-align: center;
	border: 1px solid white;
}
.type-chart__matchup--highlight {
	background: yellow;
}

.type-chart__matchup--neutral {
	color: darkgray;
}
.type-chart__matchup--super-effective {
	background: green;
	color: white;
}
.type-chart__matchup--not-very-effective {
	background: red;
	color: white;
}
.type-chart__matchup--no-effect {
	background: black;
	color: white;
}

.type-toggler {
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.type-toggler__header {
	padding: 5px;
	font-weight: bold;
}
.type-toggler__types {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.type-toggler__type {
	margin: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.type-toggler__select-all {
	margin: 5px;
}



/* dex type */

.dex-type__matchups-title {
	margin-bottom: 10px;
}

.dex-type__matchups {
	list-style: none;
	margin: 0 0 16px 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.dex-type__matchup {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
	padding: 1px;
}
.dex-type__matchup:not(:last-child) {
	margin-right: 3px;
}

.dex-type__matchup--neutral {
	color: #999;
}
.dex-type__matchup--favorable {
	color: #6c6;
}
.dex-type__matchup--unfavorable {
	color: #c66;
}
.dex-type__matchup--no-effect {
	color: #66c;
}
.dex-type__matchup--fade {
	opacity: .25;
}

/* breeding chains */

.breeding-chains-table {
	border: 2px solid black;
}

.breeding-chains-table tr {
	border-right: 2px solid black;
	border-left: 2px solid black;
}

.breeding-chains-table th,
.breeding-chains-table td {
	height: 40px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.breeding-chain__header {
	border: 2px solid black;
	background: #eee;
	cursor: pointer;
}

.breeding-chain__summary-container {
	display: flex;
	align-items: center;
}

.breeding-chain__arrow {
	margin: 0 5px;
}

.breeding-chain__summary {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.breeding-chain__headers {
	padding: 10px 5px;
}

.breeding-chain__version-group {
	padding: 5px 10px;
	text-align: center;
	font-weight: bold;
}


/* /stats */

.stats-year {
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

.stats-months {
	margin: 5px 0 10px 0;
	text-align: center;
}

.stat-month {
	display: inline-block;
	margin: 3px;
}

.stat-month a {
	text-decoration: none;
	border: 1px solid black;
	width: 100px;
	height: 100px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.stat-month a:hover {
	background-color: #eee;
}



/* Month control */

.month-control {
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
}

.month-control .space {
	flex: 1;
}

.month-control .prev {
	order: -1;
}

.month-control .next {
	order: 1;
}



/* Rating control */

.rating-control {
	text-align: center;
	margin: 10px 0;
}

.rating-control ul::before {
	content: "Rating:";
	margin: 0 5px;
}

.rating-control ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.rating-control li {
	display: inline;
}

.rating-control li+li::before {
	content: "/";
	margin: 0 5px;
}

.rating-control a {
	display: inline-block;
	padding: 5px;
	color: black;
	text-decoration: none;
}

.rating-control li:last-child a {
	border-radius: 0 5px 5px 0;
}

.rating-control a:hover,
.rating-control .current {
	background: black;
	color: white;
}



/* Pokémon usage tables */

.stats-usage__filter {
	margin: 10px 0;
}

.chart-link:hover {
	cursor: pointer;
	background: #eee;
}

.chart-link__inner {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.chart-link__icon {
	margin-left: 3px;
}

.dex-table--percent-plus {
	color: green;
}

.dex-table--percent-minus {
	color: red;
}

.dex-table__math-symbol {
	color: #bbb;
	margin-right: 5px;
}

.dex-drawer__content {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 600px;
	max-width: 100%;
	background: white;
	transition: 0.1s;
	z-index: 2;
	overflow-x: auto;
	padding: 0 10px;
}

.dex-drawer__overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 1);
	opacity: 0.5;
	z-index: 1;
}


/* Pokémon stats page */

.rank-control {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}

.rank-control__rank {
	display: flex;
	align-items: center;
	padding: 0 10px;
	border: 1px solid transparent; /* so the button doesn't move when the border is added on hover */
}
.rank-control__rank:hover {
	background: #dcf2fa; /* Porygon palette #8bd5ee at opacity 30% on white background. */
	border: 1px solid #8bd5ee; /* Porygon palette #8bd5ee */
	/* https://marcodiiga.github.io/rgba-to-rgb-conversion */
}
.rank-control__rank img {
	padding: 10px;
}


.pokemon-data {
	display: inline-block;
	text-align: center;
}

.dex-pokemon__base-stat-name {
	text-align: right;
}

.dex-pokemon__base-stats td {
	padding: 3px;
}

.dex-pokemon__base-stat-bar {
	display: inline-block;
	height: 15px;
}

/*
Stat colors from Bulbapedia (https://bulbapedia.bulbagarden.net/wiki/Help:Color_templates#Pok%C3%A9mon_Stats)
and then converted from hex to rgb (https://www.rgbtohex.net/hex-to-rgb/).
*/
.dex-stat--hp {
	/* #69dc12 */
	background: rgb(105, 220, 18);
}
.dex-stat--attack {
	/* #efcc18 */
	background: rgb(239, 204, 24);
}
.dex-stat--defense {
	/* #e86412 */
	background: rgb(232, 100, 18);
}
.dex-stat--speed {
	/* #d51dad */
	background: rgb(213, 29, 173);
}
.dex-stat--special {
	/* #2f97e8 */
	background: rgb(47, 151, 232);
}
.dex-stat--special-attack {
	/* #14c3f1 */
	background: rgb(20, 195, 241);
}
.dex-stat--special-defense {
	/* #4a6adf */
	background: rgb(74, 106, 223);
}

.dex-table__stat--hp {
	background: rgba(105, 220, 18, 0.4);
}
.dex-table__stat--attack {
	background: rgba(239, 204, 24, 0.4);
}
.dex-table__stat--defense {
	background: rgba(232, 100, 18, 0.4);
}
.dex-table__stat--speed {
	background: rgba(213, 29, 173, 0.4);
}
.dex-table__stat--special {
	background: rgba(47, 151, 232, 0.4);
}
.dex-table__stat--special-attack {
	background: rgba(20, 195, 241, 0.4);
}
.dex-table__stat--special-defense {
	background: rgba(74, 106, 223, 0.4);
}




/* Moveset usage tables */

table.moveset-usage {
	width: 100%;
	margin: 10px 0;
}

table.moveset-usage caption {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 5px;
	background: #ddd;
	font-weight: bold;
}

table.moveset-usage th,
table.moveset-usage td {
	border: 1px solid black;
	padding: 5px;
}



.dex-spreads__stat-names {
	font-weight: normal;
	color: #777;
}

.dex-spread--ev {
	display: inline-block;
	width: 36px;
	text-align: right;
}

.dex-spread--stat {
	display: inline-block;
	width: 32px;
	text-align: right;
}

.dex-spread--slash {
	display: inline-block;
	margin: 0 5px;
	text-align: center;
	color: #bbb;
}



/* Desktop */
@media (min-width: 600px) {
	.quick-links {
		display: none;
	}

	table.moveset-usage {
		width: auto;
		margin: 10px;
	}
}
