{% extends "html/base.twig" %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div class="rating-control" v-if="ratings.length">
		<ul>
			<li v-for="r in ratings">
				<a :href="'/stats/' + startMonth.value + '-to-' + endMonth.value + '/' + format.identifier + '/' + r + '/pokemon/' + pokemon.identifier"
					:class="{
						'current': r === rating
					}"
				>{{ r }}</a>
			</li>
		</ul>
	</div>

	<div v-if="!loaded" class="dex-loader-container">
		<div class="dex-loader"></div>
	</div>

	<template v-if="loaded">
		<div class="pokemon-data">
			<div>
				{{ pokemon.name }}
			</div>
			<div>
				<img :src="'/images/pokemon/models/' + pokemon.model" alt="">
			</div>
			<div class="pokemon-types">
				<dex-type-link v-for="type in pokemon.types" :key="type.identifier"
					:vg-identifier="versionGroup.identifier"
					:type="type"
				></dex-type-link>
			</div>
		</div>

		<table class="base-stats">
			<tr v-for="stat in stats" :key="stat.key">
				<td class="base-stat-name">{{ stat.name }}</td>
				<td class="dex-table--number">{{ pokemon.baseStats[stat.key] }}</td>
				<td>
					<div class="base-stat-bar"
						:style="{
							'width': (pokemon.baseStats[stat.key] / 255 * 300) + 'px',
						}"
					></div>
				</td>
			</tr>
		</table>

		<div v-if="format.smogonDexIdentifier && pokemon.smogonDexIdentifier">
			<a :href="'https://www.smogon.com/dex/' + generation.smogonDexIdentifier + '/pokemon/' + pokemon.smogonDexIdentifier + '/' + format.smogonDexIdentifier + '/'"
				target="_blank" rel="noopener"
			>
				Smogon Analysis
			</a>
		</div>

		<nav class="quick-links">
			<ul>
				<li v-if="showAbilities"><a href="#abilities">Abilities</a></li>
				<li v-if="showItems"><a href="#items">Items</a></li>
				<li><a href="#moves">Moves</a></li>
			</ul>
		</nav>

		<averaged-pokemon-abilities v-if="showAbilities" id="abilities"
			:abilities="abilities"
		></averaged-pokemon-abilities>

		<averaged-pokemon-items v-if="showItems" id="items"
			:items="items"
		></averaged-pokemon-items>

		<averaged-pokemon-moves id="moves"
			:moves="moves"
		></averaged-pokemon-moves>
	</template>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7"></script>
	<script src="https://cdn.jsdelivr.net/npm/v-tooltip@2.1"></script>

	<script src="/js/dex-breadcrumbs.js"></script>
	<script src="/js/dex-type-link.js"></script>
	<script src="/js/averaged-pokemon-abilities.js"></script>
	<script src="/js/averaged-pokemon-items.js"></script>
	<script src="/js/averaged-pokemon-moves.js"></script>

	<script src="/js/stats/averaged-pokemon.js"></script>
{% endblock %}
