{% extends "html/base.twig" %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<section v-for="year in years" :key="year.year">
		<h2 class="dex-section__title">{{ year.year }}</h2>

		<div class="stats-months">
			<div v-for="month in year.months" :key="month.month" class="stat-month">
				<a :href="`/stats/${month.month}`">{{ month.name }}</a>
			</div>
		</div>
	</section>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

	<script src="/js/dex-breadcrumbs.js"></script>
	<script src="/js/stats/index.js"></script>
{% endblock %}
